.ng-scope .panel-default {
    padding: 22px !important;
}
.ng-scope .row.row-header{
    padding: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.ng-scope .form-inline{
    padding-bottom: 15px !important;
}
.ng-scope .container {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.ng-scope .form-horizontal .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ng-scope .ng-isolate-scope .panel-body img{
    margin: 30px auto  !important;
    height: auto !important;
    max-width: 360px !important;
}
